.no-post-thumb .inner-box {
  position: relative; }
  .no-post-thumb .inner-box .image-box {
    position: absolute;
    right: 30px;
    top: 30px; }
    .no-post-thumb .inner-box .image-box .post-date {
      position: relative; }
      .no-post-thumb .inner-box .image-box .post-date h4 {
        font-size: 14px; }

.sticky-post-class .inner-box .sticky_post_icon {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #cc5e29;
  font-size: 30px; }

.sidebar-page-container .news-block-one .image-box .post-date {
  max-width: 160px; }
  .sidebar-page-container .news-block-one .image-box .post-date h4 {
    font-size: 14px; }

.sidebar-page-container .news-block-one .content-box .post-info {
  padding-right: 150px; }

.blog-grid .news-block-one .image-box .post-date {
  min-width: 67px; }

.comment-reply-title {
  font-size: 20px;
  position: relative;
  display: block;
  line-height: 22px;
  font-weight: 700;
  transition: all 500ms ease; }
  .comment-reply-title small {
    margin-left: 5px; }
    .comment-reply-title small a {
      color: #cc5e29; }

.page-title {
  background-color: #3c2824; }

.comment-submit-me {
  margin-top: 20px; }

.email-not-publish,
.logged-in-as {
  font-size: 15px;
  margin-bottom: 5px; }

.sidebar .sidebar-widget {
  padding: 40px; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

figcaption {
  margin-top: 10px;
  padding-bottom: 15px;
  font-size: 14px; }

abbr[title] {
  border-bottom: 1px dotted; }

acronym {
  border-bottom: 1px dotted; }

.wp-caption-text,
.gallery-caption,
.bypostauthor {
  opacity: 1; }

table,
th,
td {
  border: 1px solid #f0f0f0;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  font-size: 15px; }

th,
td {
  padding: 7px;
  font-size: 15px; }

table {
  border-collapse: separate;
  margin-bottom: 10px;
  margin-top: 10px;
  border-spacing: 0; }

select {
  position: relative;
  width: 100%;
  border: none;
  line-height: 56px;
  border-radius: 0px;
  padding: 0px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #2d2727;
  border: 1px solid transparent;
  background: #ffffff;
  z-index: 9;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='2d2727' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 15px; }

.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
  text-align: center; }

.wp-block-image {
  max-width: 100%; }
  .wp-block-image figcaption {
    display: block; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 4px;
  overflow: auto;
  margin-top: 10px;
  border: 1px solid #2b3c6b; }

.wp-block-cover-text {
  font-size: 24px; }
  .wp-block-cover-text a {
    color: #ffffff; }

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em; }

.wp-block-button.alignright {
  text-align: right; }

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding: 41px 40px !important; }

article .text {
  overflow: hidden; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  clear: both; }

.blocks-gallery-item {
  list-style: outside none;
  padding-left: 0 !important; }

iframe {
  width: 100%; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-block-cover-text {
  margin-bottom: 0 !important; }

.aligncenter {
  clear: both;
  margin-left: auto;
  margin-right: auto; }

.blocks-gallery-item:before {
  content: none !important; }

.widget_recent_comments ul li {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px; }
  .widget_recent_comments ul li .comment-author-link {
    font-weight: 600;
    margin-right: 5px; }
    .widget_recent_comments ul li .comment-author-link a {
      color: #706767; }
  .widget_recent_comments ul li a {
    color: #cc5e29;
    margin-left: 5px  !important; }

.blog-breadcrumb-active {
  padding-top: 120px; }

.blog-single-breadcrumb-active {
  padding-top: 120px; }

.blog-details-content .news-block-one .inner-box .post-share-option ul li a {
  margin-right: 5px;
  margin-top: 5px; }

.blog-details-content .news-block-one .inner-box .post-share-option ul li:first-child {
  margin-top: 5px; }

.blog-details-content .author-box {
  margin-bottom: 30px; }
  .blog-details-content .author-box .inner {
    min-height: 170px; }

.news-block-one .inner-box .content-box {
  padding: 30px; }
  .news-block-one .inner-box .content-box .entry-title {
    margin-bottom: 10px;
    position: relative;
    font-size: 33px;
    line-height: 36px;
    font-weight: 700;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    display: block; }
    .news-block-one .inner-box .content-box .entry-title a {
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      display: block; }
  .news-block-one .inner-box .content-box p:last-child {
    margin-bottom: 0; }

.sidebar-widget.widget_search {
  padding: 0;
  background: transparent; }

.pagination-wrapper .pagination .nav-links {
  position: relative;
  display: block; }
  .pagination-wrapper .pagination .nav-links .page-numbers {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 75px;
    width: 75px;
    line-height: 75px;
    background: #f5f0f0;
    text-align: center;
    color: #2d2727;
    z-index: 1;
    transition: all 500ms ease;
    margin: 0px 3px;
    margin-bottom: 10px; }
    .pagination-wrapper .pagination .nav-links .page-numbers:first-child {
      margin-left: 0; }
    .pagination-wrapper .pagination .nav-links .page-numbers:hover {
      background: #cc5e28;
      color: #fff; }
  .pagination-wrapper .pagination .nav-links .current {
    background: #cc5e28;
    color: #fff; }
  .pagination-wrapper .pagination .nav-links .next {
    color: #fff;
    background: #2d2727; }

.page-links a,
.page-links .post-page-numbers {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
  width: 48px;
  line-height: 48px;
  background: #fff;
  text-align: center;
  color: #2d2727;
  z-index: 1;
  transition: all 500ms ease;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 50%; }

.page-links .post-page-numbers.current {
  background: #cc5e28;
  color: #fff; }

.post-single-link.page-links {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.widget_recent_entries ul li {
  margin-bottom: 8px; }
  .widget_recent_entries ul li a {
    color: #706767;
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 30px;
    background: #fff;
    position: relative;
    display: block; }
  .widget_recent_entries ul li:hover a {
    color: #fff;
    background: #cc5e29; }
  .widget_recent_entries ul li:last-child {
    margin-bottom: 0; }

.widget_nav_menu ul,
.widget_meta ul,
.widget_pages ul {
  padding-left: 20px; }
  .widget_nav_menu ul li a,
  .widget_meta ul li a,
  .widget_pages ul li a {
    position: relative;
    display: block;
    color: #252930;
    padding: 7px 0px; }
    .widget_nav_menu ul li a::after,
    .widget_meta ul li a::after,
    .widget_pages ul li a::after {
      content: "";
      position: absolute;
      left: -20px;
      top: 22px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #cc5e29; }
    .widget_nav_menu ul li a:hover,
    .widget_meta ul li a:hover,
    .widget_pages ul li a:hover {
      color: #cc5e29; }
  .widget_nav_menu ul li ul,
  .widget_meta ul li ul,
  .widget_pages ul li ul {
    padding-left: 17px; }

.widget_archive ul li,
.widget_categories ul li {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  color: #cc5e29;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 9px 30px;
  font-weight: 600; }
  .widget_archive ul li a,
  .widget_categories ul li a {
    position: relative;
    display: inline-block;
    color: #706767; }
  .widget_archive ul li ul,
  .widget_categories ul li ul {
    width: 100%;
    padding-left: 25px; }
    .widget_archive ul li ul li,
    .widget_categories ul li ul li {
      margin-bottom: 0px;
      padding: 0;
      position: relative; }
      .widget_archive ul li ul li::after,
      .widget_categories ul li ul li::after {
        content: "";
        position: absolute;
        left: -15px;
        top: 20px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #cc5e29; }
      .widget_archive ul li ul li a,
      .widget_categories ul li ul li a {
        padding: 5px 0px; }
      .widget_archive ul li ul li ul,
      .widget_categories ul li ul li ul {
        padding-left: 25px; }

.widget_rss .widget-title h4 a {
  color: #cc5e29; }

.widget_rss ul li {
  font-size: 17px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .widget_rss ul li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px solid #e5e5e5; }
  .widget_rss ul li .rsswidget {
    margin-bottom: 10px;
    display: block;
    font-weight: 600; }
  .widget_rss ul li cite {
    margin-top: 10px;
    display: block;
    font-weight: 600; }
  .widget_rss ul li a {
    color: #cc5e29; }

.widget_tag_cloud a {
  position: relative;
  display: inline-block;
  font-size: 12px !important;
  line-height: 24px;
  color: #706767;
  font-weight: 700;
  background: #fff;
  text-transform: uppercase;
  padding: 7px 23px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; }
  .widget_tag_cloud a:hover {
    color: #fff;
    background: #cc5e29; }

.default-sidebar .calendar_wrap table {
  margin-bottom: 0;
  width: 100%; }
  .default-sidebar .calendar_wrap table caption {
    padding: 0;
    padding-top: 5px; }
  .default-sidebar .calendar_wrap table a {
    color: #cc5e29; }

.default-sidebar .calendar_wrap .wp-calendar-nav a {
  color: #cc5e29; }

.base-theme .sidebar-page-container .blog-details-content .image img {
  width: auto; }

.base-theme .content-single-are a {
  color: #cc5e28; }

.base-theme .content-single-are ul {
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: unset; }
  .base-theme .content-single-are ul li {
    list-style: unset; }

.base-theme .content-single-are ol {
  margin-bottom: 10px;
  padding-left: 20px; }
  .base-theme .content-single-are ol li {
    list-style: unset; }

b,
strong {
  font-weight: 700; }

.wp-block-cover-text {
  color: #fff !important;
  font-size: 24px !important; }

.wp-block-cover[style="background-color:#f4399d"] a {
  color: #fff; }

.wp-block-archives select,
.wp-block-categories select {
  max-width: 220px; }

.wp-block-categories select {
  margin-bottom: 20px; }

.wp-block-search .wp-block-search__input {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 15px;
  transition: all 500ms ease;
  max-width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 0px; }

.wp-block-group {
  padding: 20px;
  margin-bottom: 10px; }

.wp-block-media-text {
  margin-bottom: 20px; }

.wp-block-tag-cloud a {
  font-size: 16px !important;
  font-size: 12px !important;
  line-height: 24px;
  color: #706767;
  font-weight: 700;
  background: #fff;
  text-transform: uppercase;
  padding: 7px 23px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; }

.wp-block-search button {
  position: relative;
  line-height: 0;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  background: #cc5e28;
  padding: 10px 15px;
  transition: all 500ms ease;
  color: #fff;
  max-width: 90px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 0 !important; }

.wp-block-calendar table {
  margin-bottom: 0; }

.wp-block-calendar .wp-calendar-nav {
  text-align: left;
  margin-bottom: 15px; }

.wp-block-calendar caption {
  padding-bottom: 0; }

.wp-block-button a {
  color: inherit !important; }

.wp-block-cover-text {
  color: #fff !important;
  font-size: 24px !important; }

.wp-block-button {
  margin-bottom: 10px;
  margin-top: 10px; }

.wp-block-cover,
.wp-block-cover-image {
  margin-bottom: 10px; }

blockquote {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 38px 70px 43px 45px;
  margin: 40px 0px 37px 0px;
  border-left: 4px solid #cc5d27; }

.content-box .content-single-are p {
  line-height: 2em;
  margin-top: 10px; }

.comments-area-rif-at .text blockquote {
  background: #f5f0f0; }

.comments-area-rif-at .text a {
  color: #cc5d27; }

.comments-area-rif-at .text ul {
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: unset; }
  .comments-area-rif-at .text ul li {
    list-style: unset;
    list-style-type: disc !important; }

.comments-area-rif-at .text ol {
  margin-bottom: 10px;
  padding-left: 20px; }
  .comments-area-rif-at .text ol li {
    list-style: unset; }

.comment-box .children {
  padding-left: 20px; }

.post-password-form input[type=password] {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 15px;
  transition: all 500ms ease;
  max-width: 320px;
  margin-bottom: 10px;
  margin-top: 10px; }

.post-password-form input[name=Submit] {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  background: #cc5d27;
  padding: 10px 15px;
  transition: all 500ms ease;
  color: #fff;
  max-width: 90px;
  margin-bottom: 10px;
  cursor: pointer; }

.page-single-custom .news-block-one {
  padding: 0; }
  .page-single-custom .news-block-one .inner-box .content-box a {
    color: #cc5d27; }

.search-page-area-main .news-block-one {
  padding: 30px; }

.logged-in-as a {
  color: #cc5e29; }

.page-single-custom.no-comment-area .inner-box {
  margin-bottom: 0; }

.nothing-found-search .sidebr-search {
  margin-top: 20px;
  max-width: 240px;
  margin-bottom: 0; }

.service-page-custom .news-block-one {
  background: transparent; }

.service-page-custom .news-block-one .content-box {
  padding: 0; }

.page-single-custom .inner-box .content-box {
  overflow: hidden; }

.page-single-custom .news-block-one .inner-box .content-box p:last-child {
  margin-top: 0; }

.page-single-custom .blog-details-content .comments-area-rif-at {
  margin-top: 20px; }

.page-single-custom .comments-form-area.no-comment {
  margin-top: 15px; }

.page-single-custom .comments-form-area {
  margin-top: 3px;
  max-width: 850px; }
  .page-single-custom .comments-form-area input,
  .page-single-custom .comments-form-area textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background: #f5f0f0;
    border: 1px solid #f5f0f0;
    font-size: 16px;
    color: #706767;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 500ms ease; }
  .page-single-custom .comments-form-area textarea {
    height: 170px;
    resize: none; }
  .page-single-custom .comments-form-area .submit {
    margin-top: 20px; }

.page-single-custom .page-links {
  overflow: hidden;
  width: 100%; }

.main-footer {
  background-attachment: fixed; }

.elementor-widget-firbrigs_blog_selector .news-block-one .content-box h2.entry-title {
  font-weight: 600; }

.main-menu .navigation > li.current-menu-ancestor > a {
  color: #2d2727; }

img.aligncenter {
  display: block; }

.nothing-found-search .sidebr-search {
  padding: 0px;
  border-radius: 3px; }
  .nothing-found-search .sidebr-search .form-group button {
    font-size: 15px !important; }

.page-single-custom {
  padding-top: 120px; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .blog-breadcrumb-active {
    padding-top: 60px; }
  .blog-single-breadcrumb-active {
    padding-top: 60px; }
  .main-header .support-box {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 0px; }
    .main-header .support-box i {
      top: 0; }
  .widget_archive ul li,
  .widget_categories ul li {
    padding: 9px 15px; }
  .widget_meta ul li ul,
  .widget_nav_menu ul li ul,
  .widget_pages ul li ul {
    padding-left: 10px; }
  .sidebar .sidebr-search {
    margin-bottom: 0; }
  .sidebar .sidebar-widget.widget_search {
    padding: 0; }
  .sidebar .sidebar-widget {
    padding: 20px; }
  .sidebar-page-container .news-block-one .content-box .entry-title {
    font-size: 25px; }
  .sidebar-page-container .news-block-one .content-box .post-info {
    padding-right: 0; }
  .blog-details-content .comment-box .comment .reply-btn {
    top: 0;
    right: 0;
    margin-top: 10px;
    display: inline-block; }
  .blog-details-content .comment-form .form-group input[name="email"] {
    margin-bottom: 20px; }
  .comment-box .children {
    padding-left: 10px; }
  .no-post-thumb .inner-box .image-box {
    position: relative;
    right: 0;
    top: 0;
    margin-left: 30px;
    padding-top: 30px; }
  .news-block-one .inner-box .content-box {
    padding-top: 20px; }
  .support-box.pull-right {
    display: none; }
  .menu-area.pull-left {
    float: right; } }

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .news-block-one .image-box img {
    width: 100%; } }
/*# sourceMappingURL=theme-style.css.map */